[submodule "mini-tools/html/clipboard2markdown"]
	path = mini-tools/html/clipboard2markdown
	url = https://github.com/euangoddard/clipboard2markdown
[submodule "mini-tools/html/sra-explorer"]
	path = mini-tools/html/sra-explorer
	url = https://github.com/ewels/sra-explorer
[submodule "mini-tools/html/toml-to-go"]
	path = mini-tools/html/toml-to-go
	url = https://github.com/xuri/toml-to-go
[submodule "mini-tools/html/turndown"]
	path = mini-tools/html/turndown
	url = https://github.com/domchristie/turndown
[submodule "mini-tools/html/online-encode-decode"]
	path = mini-tools/html/online-encode-decode
	url = https://github.com/emn178/online-tools
